.footerWrapper {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px 40px;
    padding: 10px 15px;

    background-color: var(--primary);
    color: var(--white);

    font-size: 14px;
    line-height: 14px;



}

@media (max-width: 765px) {
    .footerWrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }
}