html,
body {
	margin: 0;
	padding: 0;	

	font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

	color: var(--black);
	background-color: #F5F6F8;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #ebebeb;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #5229f7;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}
